





      <!-- membuat grid ukuran col l4, lihat aturan grid -->
      <div class="row " class="content-header" >
      <div class="container">
      
<div class="dropzone">
  <div class="dz-message">
   <h3> Klik atau Drop gambar disini</h3>
  </div>
</div>  

      </div><!-- penutup container  -->
      </div> <!-- row  -->

  <script type="text/javascript">

Dropzone.autoDiscover = false;

var foto_upload= new Dropzone(".dropzone",{
url: "localhost:1337/proses_upload",
maxFilesize: 2,
method:"post",
acceptedFiles:"image/*",
paramName:"userfile",
dictInvalidFileType:"Type file ini tidak dizinkan",
addRemoveLinks:true,
});


//Event ketika Memulai mengupload
foto_upload.on("sending",function(a,b,c){
  a.token=Math.random();
  c.append("token_foto",a.token); //Menmpersiapkan token untuk masing masing foto
});


//Event ketika foto dihapus
foto_upload.on("removedfile",function(a){
  var token=a.token;
  $.ajax({
    type:"post",
    data:{token:token},
    url:"localhost:1337/remove_foto",
    cache:false,
    dataType: 'json',
    success: function(){
      console.log("Foto terhapus");
    },
    error: function(){
      console.log("Error");

    }
  });
});


</script>

    

  
