<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p>Your data : </p><br>
<p>Username : <b> {{ username }} </b></p><br>
<p>Password : <b> {{ password }} </b></p>
</body>
</html>