
  		

  		<!-- membuat grid ukuran col l4, lihat aturan grid -->
  		<div class="row " class="content-header" >
  		<div class="container">
  		
  
  			<div class="row">
  			<div class="col l12 m12 s12">
  				<h3> <a  href="#"> Meetup Depelover di Tiga Kota</a></h3>
  				<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  				</p>
  			</div>

  				<div  class="col l4 m6 s12  ">
  					<div class="row">

  						<div id="coba" class="card">
							    <div class="card-image waves-effect waves-block waves-light">
							     	 <img class="activator" src="images/1.jpg">
							    </div>
							    
							    <div class="card-content">
							     	 <span class="card-title activator grey-text text-darken-4">Card Title
							     	 <i  class="material-icons right">Jakarta</i></span>
							      	 <p><a id="coba2" href="#">Lihat Selengkapnya</a></p>
							    </div>
							    
							    <div class="card-reveal">
							      	<span class="card-title grey-text text-darken-4">Card Title
							      	<i class="material-icons right">close</i></span>
							      	<p>
							      		ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							      		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							      		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							      		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							      	</p>
							    </div>
						</div>

  					</div>
  				</div>

  				<div class="col l4 m6 s12">
  					<div class="row">
  						<div class="card">
							    <div class="card-image waves-effect waves-block waves-light">
							     	 <img class="activator" src="images/2.jpg">
							    </div>
							    
							    <div class="card-content">
							     	 <span class="card-title activator grey-text text-darken-4">Card Title
							     	 <i class="material-icons right">Yogyakarta</i></span>
							      	 <p><a href="#">Lihat  Selengkapnya</a></p>
							    </div>
							    
							    <div class="card-reveal">
							      	<span class="card-title grey-text text-darken-4">Card Title
							      	<i class="material-icons right">close</i></span>
							      	<p>
							      		 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							      		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							      		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							      		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							      	</p>
							    </div>
						</div>



  					</div>
  				</div>


  				<div class="col l4 m6 s12  ">
  					<div class="row">
  						<div class="card">
							    <div class="card-image waves-effect waves-block waves-light">
							     	 <img class="activator" src="images/3.jpg">
							    </div>
							    
							    <div class="card-content">
							     	 <span class="card-title activator grey-text text-darken-4">Card Title
							     	 <i class="material-icons right">Bandung</i></span>
							      	 <p><a href="#">Lihat  Selengkapnya</a></p>
							    </div>
							    
							    <div class="card-reveal">
							      	<span class="card-title grey-text text-darken-4">Card Title
							      	<i class="material-icons right">close</i></span>
							      	<p>
							      		 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							      		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							      		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							      		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							      	</p>
							    </div>
						</div>

  					</div>
  				</div>
  					
  			</div><!-- row  -->

  		</div><!-- penutup container  -->
  		</div> <!-- row  -->

  				<div class="container">
  				<ul class="pagination">
				    <li class="disabled"><a href="#!"><i class="material-icons"></i></a></li>
				    <li class="active"><a href="#!">1</a></li>
				    <li class="waves-effect"><a href="#!">2</a></li>
				    <li class="waves-effect"><a href="#!">3</a></li>
				    <li class="waves-effect"><a href="#!">4</a></li>
				    <li class="waves-effect"><a href="#!">5</a></li>
				    <li class="waves-effect"><a href="#!"><i class="material-icons">Next</i></a></li>
				  </ul></div>
	
<div class="container">
 <div class="collection">
        <a href="#!" class="collection-item">Alvin</a>
        <a href="#!" class="collection-item active">Alvin</a>
        <a href="#!" class="collection-item">Alvin</a>
        <a href="#!" class="collection-item">Alvin</a>
      </div>
      </div>
            


	<div class="container">

      		<div class="col s12 ">
      		
      		<div class="container">
      
      			<table>
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <div class="striped"><tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr></div>
        </tbody>
      </table>
      
      	
      		</div>
    	</div>
    </div> <!--container-->
<div class="container">
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
    </form>
  </div>
  </div>
